# Ignore local development files

docker-services/backups/postgres
**/.vscode/settings.json
**/.github/copilot-instructions.md
**/.env.local
**/.DS_Store
**/node_modules/
**/dist/
**/coverage
**/.env.local
**/.git
**/*.log
**/.vite
**/eslint-report.txt
**/.idea
.idea/