.page-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 0;
}

@media (max-width: 960px) {
    .page-content {
        overflow-y: auto;
        height: auto;
        min-height: 100%;
    }
}